<div class="text-container">
  <div class="text">
    <h1 id="name" style="margin-top:30px">{{title}}</h1>
    <p>Computer Programmer - Developer</p>
    <p>Recently graduated from the Computer Programming program at Georgian
      College in Barrie. I have worked for 15 months as a Full Stack Developer. I have knowledge on Object Oriented
      Programming, C# with .NET framework, Relational Database (MySQL), PHP, Java, Networking Fundamentals, HTML, CSS,
      Javascript, Project Management, Javascript Frameworks, Swift iOS Development, and C++. At work, I used mostly
      Gatsby, Next.js, React, Javascript, CSS,
      and HTML to create and maintain e-commerce websites. Recently I have been working hard on my iOS development
      skills using UIKit and SwiftUI trough a 60-hour bootcamp. Also, an experienced Dentist graduated in Brazil at
      University of Sao Paulo and
      specialized in Periodontics.</p>
    <p>Contact me @ {{email}}</p>
  </div>
  <div class="photo">
    <img src="../images/marcos_photo copy.png" alt="my photo" />
  </div>
</div>

<div class="languages-container">
  <div class="languages-title">
    <h2>Languages and Courses</h2>
  </div>
  <div class="languages">
    <i class="fa-brands fa-swift"></i>
    <i class="fa-solid fa-toggle-on"></i>
    <img id="logo" src="https://www.kindpng.com/picc/m/23-237381_java-html-language-logo-png-transparent-png.png"
      alt="Java - Html Language Logo Png, Transparent Png@kindpng.com">
    <img id="logo" src="../images/css-logo.svg">
    <p>Javascript</p>
    <p>PHP</p>
    <p>Java</p>
    <p>C#</p>
    <p>C++</p>
    <img id="logo" src="../images/swift-logo.png">
    <p>Object Oriented Programming</p>
    <p>Relational Database (MySQL)</p>
    <p>Networking Fundamentals</p>
    <p>ASP.NET</p>
  </div>
  <div id="azure-cert">
    <img src="/images/azure-badge.svg">
    
  </div>
</div>