<div class="container">
  <div
    class="card .bg-primary --bs-body-color-rgb"
    style="width:300px; margin-top:10%"
  >
    <img
      class="card-img-top"
      src="../images/marcos_photo copy.png"
      alt="Card image"
    />
    <div class="card-body">
      <h4 class="card-title">Marcos de Gois Borges</h4>
      <p class="card-text">Computer Programmer / Developer</p>
    </div>
  </div>
  <div class="card .bg-primary --bs-body-color">
    <h1>Computer Programmer / Developer Student</h1>
    <h2>Graduating on Sep 2022</h2>
  </div>
</div>