<div class="index-container">
 <div class="front-text">
    <h1 class="hey">Hey! </h1>
    <h1 class="portfolio-text">Welcome to my portfolio</h1>
    <h2>Marcos Borges</h2>
 </div>
</div>

<script>
  window.onload = function() {
    if (document.getElementsByClassName('.active')){
      document.getElementsByClassName('.active').classList.remove('active');
    }
    document.getElementById('.home-menu').classList.add('active');
    alert("loaded")
  }
</script>
