<div class="projects_container">
  <div class="projects_header">
    <h1 style="margin-top:10px; color:white">{{title}}</h1>
  </div>
  <div class="cards_container">
    <div class="card blender-card">
      <img
        class="card-img-top"
        src="/images/character_composition.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">3D Character - Blender</h5>
        <p class="card-text">
          3D Character Composition using Blender and photoshop. Created from the
          scratch and rendered using cycles. Composition made using Adobe
          Photoshop.
        </p>
      </div>
    </div>
    <div class="card blender-card-2">
      <img
        class="card-img-top"
        src="/images/house_car_woman.png"
        alt="blender scene image"
      />
      <div class="card-body">
        <h5 class="card-title">3D Scene - Blender</h5>
        <p class="card-text">
          3D scene using Blender. Created from the
          scratch and rendered using cycles. It's a replica from my house's front porch with an added character and car.
        </p>
      </div>
    </div>
    <div class="card blender-card-2">
      <img
        class="card-img-top"
        src="/images/scooter_hdri.png"
        alt="blender scene image"
      />
      <div class="card-body">
        <h5 class="card-title">3D Scene - Blender</h5>
        <p class="card-text">
          3D scene with more complex materials and textures using Blender. Rendered using cycles.
        </p>
      </div>
    </div>
    <div class="card blender-card-2">
      <img
        class="card-img-top"
        src="/images/morto_sweepstakes_montage.png"
        alt="blender scene image"
      />
      <div class="card-body">
        <h5 class="card-title">Morto Sweepstakes - ASP.NET</h5>
        <p class="card-text">
          Sweepstakes app for the 2022 Soccer World Cup built using ASP.NET Core. The database was built and deployed using Azure services. We have authorization services implemented and admin access to enter games information. Users can login and make their bets. Visual Studio 2019 was used to build the app.
        </p>
      </div>
    </div>
    <div class="card blender-card-2">
      <img
        class="card-img-top"
        src="/images/cocktail_java.png"
        alt="blender scene image"
      />
      <div class="card-body">
        <h5 class="card-title">Cocktail Spirit - Java FX</h5>
        <p class="card-text">
          Cocktail Spirit is an app built using IntelliJ IDEA and Java language. Also, it was used Scene Builder and a connection to the cocktaildb.com API that retrieves the drinks information.
        </p>
      </div>
    </div>
    <div class="card blender-card-2">
      <img
        class="card-img-top"
        src="/images/iCOntrol.jpeg"
        alt="blender scene image"
      />
      <div class="card-body">
        <h5 class="card-title">iControl - .NET and C#</h5>
        <p class="card-text">
          iControl is an Inventory Management System built using .NET and C#. It was built using Windows Forms and SQL database.
        </p>
      </div>
    </div>
    
    <div class="card blender-card-2">
      <img
        class="card-img-top"
        src="/images/portfolio_screen.png"
        alt="blender scene image"
      />
      <div class="card-body">
        <h5 class="card-title">Portfolio Website - Express.js</h5>
        <p class="card-text">
          This website was built using Express.js, Node.js, Handlebars, nodemon, nodemailer and gmail, blender, photoshop, dotenv, bootstrap, and fontawesome.
        </p>
      </div>
    </div>
  </div>
</div>