body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ECE5C7;
  margin: 0px;
}

a {
  color: #00B7FF;
}
.footer {
  display: flex;
  justify-content: space-between;
      padding: 1% 2%;
}

.contact-container {
      
        width: 100%;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        background: #354259;
        color: #ECE5C7;
        height: 85vh;
}
.text-container {
      display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
            background: #354259;
              font: #fff;
              color: #ECE5C7;

}
.text {
  width: 50%;
  padding: 2%;
}
.text h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}
.text p {
  font-family: 'Montserrat', sans-serif;
}
.photo {
  width: 50%;
  text-align: center;
}
.photo img {
  height: 100%;
}
.languages-container {
      background: #CDC2AE;
      margin-bottom: 2%;
}
.languages-title {
      text-align: center;
        padding-top: 1%;
        margin-bottom: 2%;
}
.languages-title h2 {
  font-size: 1.5rem;
}
.languages {
      display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 1%;
        text-align: center;
}
.languages p {
  width: 300px;
}
.fab {
  margin: 5px;
  color: #354259;
}
.button-form{
      background-color: #ECE5C7!important;
        color: #354259!important;
        float: right;
}
.index-container {
  background-image: url(../images/3d_background.png);
    height: 85vh;
    background-size: cover;
    display: flex;
    align-items: center;
}
.front-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  padding-left: 10%;
}
.hey {
  font-size: 10rem;
}
.portfolio-text {
  font-size: 3rem;
}

/* Projects View */
.card{
  width: 400px;
  padding: 1%;
  margin: 5px;
  height: 480px;
}
.projects_container{
  padding: 10px;
  background-color: #354259;
  height: auto;
  width: 100%;
}
.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1%;
}
.projects_header h1{
      margin-top: 20px;
        padding-left: 20px;
        color: white;
        font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}